# IntelliJ IDEA and PyCharm
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Compiled code
*.class
*.o
*.out

# Other IDEs and editors
.project
.settings/
*.sublime-workspace
*.sublime-project
*.stackdump
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Windows
$RECYCLE.BIN/
*.lnk

# Linux
*~

# Ignore files or folders that start with "."
.*

# Ignore the target folder and its contents
target/
logs/
